.container {
  padding-top: 60px;
}

body {
  background-color: #24241a;
  /* font-family: Georgia, Times, serif; */
  color: white;
}

h1 {
  text-align: center;
  padding-top: 40px;
}

.col {
  display: flex;
}
.row {
  /* border: 2px #ccc solid; */
  font-size: 20px;
}

.row1 {
  padding-top: 5px;
  font-size: 10px;
}

.btn-row {
  display: flex;
  justify-content: space-evenly;
}

.table-row {
  display: table-row;
}
