.container {
  padding-top: 60px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #36362d;
  color: aliceblue;
}

h1 {
  text-align: center;
  padding-top: 40px;
}

/* .col {
  display: flex;
} */
.row {
  /* border: 2px #ccc solid; */
  font-size: 20px;
}

.row1 {
  padding-top: 5px;
  font-size: 10px;
}

.btn-row {
  display: flex;
  justify-content: space-evenly;
}

.table-row {
  display: table-row;
}

h2 {
  text-align: center;
}

.about {
  text-align: center;
  position: fixed;
  z-index: 0;
}

h3 {
  padding-top: 30px;
}

#overlay-content {
  position: absolute;
  left: calc(50% - 7rem);
  /* Comment display none for dom overlay to work */
  /* display: none; */
}

.rank-container {
  background-color: red;
}

#measureSize {
  position: fixed;
  inset: 0;
}
canvas[data-engine*="three.js"] {
  position: fixed;
  inset: 0;
  z-index: -1 !important;
}

button {
  position: relative;
  z-index: 1;
}
