.container {
  padding-top: 60px;
}
* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #939378;
  /* font-family: "Bungee Spice", cursive; */
  font-family: "Righteous", cursive;
  color: aliceblue;
}

h1 {
  text-align: center;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}
#index_h1 {
  font-family: "Bungee Spice", cursive;
}

.row {
  font-size: 20px;
}

.row1 {
  padding-top: 5px;
  font-size: 10px;
}

.btn-row {
  display: flex;
  justify-content: space-evenly;
  font-family: "Oswald", sans-serif;
}
.btn {
  font-family: "Righteous", cursive;
}
.table-row {
  display: table-row;
}

h2 {
  text-align: center;
}

.about {
  text-align: center;
  font-size: 2.5rem;
  /* position: fixed; */
  z-index: 1;
}

#back {
  position: relative;
  z-index: 2;
}
h3 {
  padding-top: 30px;
}

#overlay-content {
  position: absolute;
  left: calc(50% - 7rem);
  /* Comment display none for dom overlay to work */
  /* display: none; */
}

/* .rank-container {
  background-color: red;
} */

#measureSize {
  position: fixed;
  inset: 0;
}
canvas[data-engine*="three.js"] {
  position: fixed;
  inset: 0;
  z-index: -1 !important;
}

button {
  position: relative;
  z-index: 1;
  font-family: "Righteous", cursive;
}

p {
  font-family: "Oswald", sans-serif;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.listen {
  font-family: "Righteous", cursive;
  background-color: #515751;
  max-width: 50vw;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;

  font-size: 20px;
  margin: 4px 0;
  cursor: pointer;
  width: 100vw;

  position: fixed;
  bottom: 10%;
  margin-left: 25%;
  margin-right: 25%;

  display: "block";

  /* z-index: 100; */
}

#timer {
  position: fixed;
  right: 30%;
  top: 2rem;

  font-size: 2rem;
  text-align: center;
  color: #fffef9;
  text-shadow: -4px 2px 2px rgba(54, 63, 49, 1);

  font-family: "Black Ops One";
}

#restart {
  position: fixed;
  top: 4rem;
  right: 40%;

  text-align: center;
  color: #deffdf;
  text-shadow: -4px 2px 2px rgba(54, 63, 49, 1);

  font-size: 1.5rem;

  font-family: "Black Ops One";
}

#cup-counter {
  position: fixed;
  top: 1.85rem;
  right: 0.3rem;
  text-align: center;
  font-size: 1.8rem;
  color: #fffef9;
  text-shadow: -4px 2px 2px rgba(54, 63, 49, 1);

  font-family: "Black Ops One", cursive;
}

.matchStatus {
  text-align: center;
  color: #deffdf;
  text-shadow: -4px 2px 2px rgba(54, 63, 49, 1);

  font-size: 4rem;

  position: fixed;

  bottom: 18rem;
}

button {
  margin: 0.25rem;
}

#match-note {
  font-size: 6rem;
  color: #4caf50;
  text-shadow: -4px 2px 2px rgba(54, 63, 49, 1);

  position: fixed;
  top: 17rem;
  text-align: center;

  opacity: 0;
}

.fade {
  animation: fade-in-out 3s;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.canvas-container {
  position: fixed;
  bottom: 8rem;

  z-index: 1;
}

#create {
  position: fixed;
  top: 43%;
  left: 39%;
  width: 6rem;
  height: 6rem;
  opacity: 0;
  border-radius: 100%;
}

.text {
  position: fixed;
  top: 30%;
  left: 5%;
}

.hz {
  top: 35%;
}

.notePlay {
  top: 37%;
}

.testing {
  position: relative;
  top: 6.25rem;
  margin-left: 1rem;
}
